

@font-face {
    font-family: 'fascinate_inlineregular';
    src: url('/assets/fascinateinline-regular-webfont.eot');
    src: url('/assets/fascinateinline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fascinateinline-regular-webfont.woff2') format('woff2'),
         url('/assets/fascinateinline-regular-webfont.woff') format('woff'),
         url('/assets/fascinateinline-regular-webfont.ttf') format('truetype'),
         url('/assets/fascinateinline-regular-webfont.svg#fascinate_inlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fascinateregular';
    src: url('/assets/fascinate-regular-webfont.eot');
    src: url('/assets/fascinate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fascinate-regular-webfont.woff2') format('woff2'),
         url('/assets/fascinate-regular-webfont.woff') format('woff'),
         url('/assets/fascinate-regular-webfont.ttf') format('truetype'),
         url('/assets/fascinate-regular-webfont.svg#fascinateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}