body {
	background: url('/assets/skulls.png');
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}	

.navbar.navbar-inverse {
	background: url('/assets/congruent_outline.png');
	box-shadow:10px 10px 5px #888888;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color:#6243FA;
	font-family: 'fascinateinline', sans-serif;
	font-size: 50px;	

}

.navbar-inverse .navbar-nav {
	font-family: 'fascinateinline', sans-serif;
	font-size: 25px;
	
}

.clear {
	clear:both;
}

div.jumbotron {
    border: 5px double white;
    opacity:0.25;
    background-color:#000000;
    
}

h3 {
    color: #000000;
    font-wieght: bold;
    font-size: 26px;
}

div.jumbotron p {
    font-style: italic;
    color:#ffffff;
    font-size: 26px;
}


div.jumbotron u {
    color: #ffffff;
    font-weight: bold;
}

div.amp p{
    border: 5px double white;
    color: #ffffff;
    font-size: 15px;
    
}

div.caption {
    opacity:0.65;
    background-color:#808080;
}

div.dac p {
    border: 5px double white;
    color: #ffffff;
    font-size: 15px;
    
}

div.speakers p {
    border: 5px double white;
    color: #ffffff;
    font-size: 15px;
    
}

div.low-end{
    font-size: 25px;
}

div.high-end{
    font-size: 25px;
}

div.mid-end{
    font-size: 25px;
}

div.music {
    font-size:25px;
    font-weight:bold
}