

body {
	background: url('/assets/congruent_pentagon.png');
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	}	

.navbar.navbar-inverse {
	background: url('/assets/congruent_outline.png');
	box-shadow:10px 10px 5px #888888;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color:#C36FDE;
	font-family: 'fascinateinline', sans-serif;
	font-size: 45px;
	
}