<!DOCTYPE html>
<html>
<head>
  <title>Flyaudio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">FLiYiG MoNkEY AuDiO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">    
        <!-- <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Some Music</a></li>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <br />
 </nav> 
 <br class="clear" />

<div class="container">
	<div class="jumbotron">
	  <u><h1>Hi-fi to love </h1></u>
	  <p>There are several amplification systems that I love, I mostly try to listen to music, so I really don't care for snob's conceptions.
	  I want to share a small list (pics's included) of amps, d.a.c's and speakers combos I wolud absolutely love to have in my living room for my daily joy.  </p>
	  
	 </div> 
</div>
<br class="clear" />

  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/Kenny7100.jpeg" alt="...">
      <div class="caption">
        <h3>Kenwood KA-7100</h3>
        <p>"The development of the DC power amplifier can be counted as one of our most significant engineering successes, because it provides an almost perfect linear 
		frequency response that starts virtually from 0Hz. What this means is that the signal amplified has effectively the same waveform as that 	at the input terminals. The amplifier maintains extremely low distortion right down to the ultra-low frequency range. With excellent phase and transient characteristics - the response in actual conditions of musical reproduction - the sound that you hear is perfectly natural."  -
		HiFi Engine</p>
      </div>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/DAC1+-+dragonfly.jpg" alt="...">
      <div class="caption">
        <h3>Audioquest DragonFly v1.2 </h3>
        <p>"AudioQuest took a DAC and headphone amp and served them up in a great-sounding, 	consumer-friendly package. In an attempt to squeeze out even greater sound 			quality, the signal path between the DAC chip and the analogue output has been 		shortened and the internal power supply has been tweaked.
        	This DragonFly picks out greater detail and displays even greater dynamic thrust.Tracks sound more pristine and more communicative than before. The DragonFly’s ability to follow a track’s rhythm and timing is superb.
        	The icing on the cake with this DAC, though, is that you’re getting all this outrageously good sound quality at such a tempting price."  - What Hi-Fi?</p>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/WharfedaleDiamond10.7-2.jpg" alt="...">
      <div class="caption">
        <h3>Speakers</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Spkr</a> 
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
