<!DOCTYPE html>
<html>
<head>
  <title>Flyaudio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">FLiYiG MoNkEY AuDiO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">    
        <!-- <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Some Music</a></li>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <br />
 </nav> 
 <br class="clear" />

<div class="container">
	<div class="jumbotron">
	  <u><h1>Hi-fi to love </h1></u>
	  <p>There are several amplification systems to love because they simply rock! 
      Piece of advise: mostly try to listen music, enjoy the experience don't care for snob's conceptions. Just hear the sound with your own ears, let it feel and damp your soul. 
      Just wanted to share a small list of amps, d.a.c's and speakers combos I wolud absolutely love to have in my living room for daily piece of joy.  </p> 
	 </div> 
</div>
<br class="clear" />
<br />
 <div class="col-sm-6 col-md-4 low-end"> 
  <div class="alert alert-info" role="alert"><b>Low entry combination</b></div>
 </div> 

<br class="clear" />

  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="https://db.tt/T5fEhcso" alt="...">
      <div class="caption">
        <h3>Kenwood KA-7100</h3>
        <p>The development of the DC power amplifier can be counted as one of our most significant engineering successes, because it provides an almost perfect linear frequency response that starts virtually from 0Hz. What this means is that the signal amplified has effectively the same waveform as that 	at the input terminals. The amplifier maintains extremely low distortion right down to the ultra-low frequency range. With excellent phase and transient characteristics - the response in actual conditions of musical reproduction - the sound that you hear is perfectly natural.  -	HiFi Engine</p>
      </div>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="https://db.tt/b8SzuAYf" alt="...">
      <div class="caption">
        <h3>Audioquest DragonFly v1.2 </h3>
        <p>AudioQuest took a DAC and headphone amp and served them up in a great-sounding, consumer-friendly package. In an attempt to squeeze out even greater sound quality, the signal path between the DAC chip and the analogue output has been shortened and the internal power supply has been tweaked.  This DragonFly picks out greater detail and displays even greater dynamic thrust.Tracks sound more pristine and more communicative than before. The DragonFly’s ability to follow a track’s rhythm and timing is superb. The icing on the cake with this DAC, though, is that you’re getting all this outrageously good sound quality at such a tempting price.  - What Hi-Fi?</p>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="https://db.tt/PQufqioM" alt="...">
      <div class="caption">
        <h3>Wharfedale Diamond 10.7</h3>
        <p>The three-way Diamond 10.7 has a 1" soft-dome tweeter with a neodymium magnet, mounted in a cast-alloy surround and covered by a metal diffusion grid designed to iron out high-frequency perturbations for a smoother treble response. In addition to its 2" midrange dome, it has two 6.5" woofers with woven Kevlar cones. When the recording has considerable energy below 50Hz, the Wharfedales reproduced the most difficult passages forcefully, with no sense of strain, distortion, or rolloff. An impressive pair of speakers that provide many of the attributes of pricier floorstanders in an attractive, small-footprint cabinet at an accessible price. - Steroephile</p>
      </div>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<div class="col-sm-6 col-md-4 mid-end"> 
  <div class="alert alert-info" role="alert"><b>Mid entry combination</b></div>
 </div> 
<br class="clear" />


  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="https://db.tt/m5HHYX8S" alt="...">
      <div class="caption">
        <h3>MA- 8000</h3>
        <p>The new MA8000 comes with a five-input DAC, high-quality headphone output and dedicated MM and MC phono stage McIntosh has unveiled the MA8000 300-watt integrated amplifier, which has been designed as a modern audiophile system 'hub'.The unit incorporates a five-input DAC with decoding up to 32-bit/192kHz for digitally connected devices, while a total of 15 inputs are on offer – including six line-level; two balanced; five digital; and a high-quality MM and MC phono input. Meanwhile, the MA8000 incorporates McIntosh's new High Drive headphone amplifier, which offers increased gain and output power. All headphone types are supported from 20 to 600 ohms.If you want an exciting multichannel home cinema system, the MA8000 can oblige with the help of the Home Theatre Pass Through. McIntosh has also included its Power Guard technology, which monitors input and output signals, dynamically adjusting them when necessary. The Moving Magnet and Moving Coil phono sections can be adjusted to completely match your turntable and phono cartridge, allowing your prized record collection to shine like never before. - What HiFi?</p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="https://db.tt/aesRn9S6" alt="...">
      <div class="caption">
        <h3>Marantz HD-DAC1</h3>
        <p>Since the beginning a few priorities could be identified in its tone. First of all, this DAC tries to get to the ideal of high fidelity as close as possible. We are dealing here with a device which does not sweeten or make you bore, but tells the truth about headphones and recordings, and even goes a few steps further. When you connect it at home, install the drivers and turn something on for a heat-up, you will get a foretaste what one can achieve with this beautiful device. Since the moment of taking Marantz out of the box it was known that we are dealing with a tough device but when you look under the hood you will be fully convinced about it. It is not so simple because getting to the inside demands real cunning and precision. An awesome headphone amplifier equipped with a hi-end converter and pre-amp, opening the way to build a fully fledged system. - Stereolife</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="https://db.tt/aga6FFLx" alt="...">
      <div class="caption">
        <h3>B&W 800 Diamond</h3>
        <p>In a small space, the 800s’ beautifully taut bass stays controlled – go bigger and you’ll have a depth and definition that’s hard to better. And it’s all delivered with breathtaking speed and punch – provided your system is up to scratch, that is. These B&Ws crave power, lots of it: they’re nominally rated at 8 ohms impedance but can dip down to 3 ohms at certain frequencies. So an amp with very good current delivery is a must. The drive units: It’s the diamond tweeter that rightly grabs the headlines here. Not only does the use of such bling make for great ad copy, it also makes good engineering sense. Diamond’s innate rigidity helps to push any break-up modes to far beyond normal hearing levels. 
        Take a closer look at the midrange set-up and you’ll find more clever stuff. The drive unit uses a Kevlar cone, as is B&W’s way. The company likes the woven fabric’s behaviour when stressed and has spent years developing it.sing the Kevlar cone in a dedicated midrange unit allows B&W to replace the standard rubber surround with a high-density foam that damps the cone more effectively. The low level of movement required for midrange frequencies helps make this possible. The result is lower distortion levels and better cone behaviour than more traditional designs. - What HiFi?</p>
      </div>
    </div>
  </div>


<br class="clear" />
<br />
<br />
<div class="col-sm-6 col-md-4 high-end"> 
  <div class="alert alert-info" role="alert"><b>High end combination</b></div>
 </div> 

<br class="clear" />


  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="https://db.tt/HQXh3fP2" alt="...">
      <div class="caption">
        <h3>Hegel P30 & 2 x H30</h3>
        <p>P30: The P30 is the best preamplifier ever developed by Hegel. With its patented technology and hand matched components, the P30 is a confident contender in the race towards being the best pre amplifier in the world. Regardless of price. Despite of what many hifi enthusiasts believe, pre amplifiers are actually one of the most difficult audio components to develop. 
        With a power rating of more than 1,1 kW in 8 ohms it is on the verge of being easier to measure the H30 in horsepower. The massive H30 mono power amplifiers from Hegel play any loudspeaker in the world with ease and authority. The H30 is developed as a mono block, but there is also the possibility to use it as a stereo power amplifier to start with if you are on a budget. Progress is a one way street and so for our power amplifiers. The H30 is using a new and improved version of the patented Hegel SoundEngine amplifier technology. This further reduce all types of distortion. This technology reduce a very specific type of distortion called Harmonic Distortion. This particular type of distortion causes what many people call "transistor sound", and this is therefore dramatically reduced in the H30. It will simply let the music reach you in a different way than what you have ever experienced before. - Hegel </p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="https://db.tt/SU13UUk8" alt="...">
      <div class="caption">
        <h3>Diamond DAC IV plus</h3>
        <p> MSB’s DAC technology of choice is the ladder DAC, a multi-bit discrete design that uses multiple resistors to achieve its aim. The company built the first 24-bit ladder DAC in 2000 and the converters in its current range are a refinement of that design. The quality of the resistors is fundamental to the sound of the DAC. But what you might ask does all this technology do for the humble CD, the one format that we can get pretty much anything we want to hear on. A staggering amount is the short answer, this is an uncannily revealing player that exposes the vast differences between recordings like no other digital source I’ve encountered. - HiFi plus</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="https://db.tt/fS2gp2ws" alt="...">
      <div class="caption">
        <h3>Grande Utopia</h3>
        <p>Of course the speakers are brilliant. They echo the family sound — open, clear sound, incredibly precise imaging and huge soundstage. The Scala and Maestro are both superb imitating live events and the Stella gets you even closer. But these Grande EMs will get you as close as present technology allows. Yes, a benchmark speaker. In good spaces, with good ancillaries, very large, well-designed speakers can move lots of air and can fool the ear into suggesting to us we are elsewhere. Interestingly, no matter what volume was selected. Technically, these are masterpieces. Much of the speaker is made of parts developed by Focal including the fabulous Beryllium tweeter, and ‘Focus Time’ and ‘Gamma Structure’. Focal must be congratulated for not resting on its laurels. The designers have refined and developed their house sound from their already famous speakers into the new Utopia III line. Reviewing the series has been an absolute pleasure. - Audiophilia</p>
      </div>
    </div>
  </div>

<br class="clear" />
<br />
<br />


<%= yield %>

<div class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-6 music">
        <a href="http://www.discogs.com">Music is soul!</a>
    </div>
    <div class="col-xs-12 col-sm-6 footer-blurb">
      Produced in Montreal by <a href="https://github.com/sebtn">Seb</a>
      Proudly built as a part of the awesome <a href="https://www.thefirehoseproject.com/courses">firehose project</a>
    </div>
  </div>
</div>      





</body>
</html>
